<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:hasCode="true"
        android:label="乐校通去广告">

        <provider
            android:name=".LogProvider"
            android:authorities="com.adfree.yxt.logs"
            android:exported="true" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="乐校通去广告"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".LauncherAlias"
            android:exported="true"
            android:label="乐校通去广告"
            android:targetActivity=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
